@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

@layer base {
  :root {
    /* colors */
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);

    /* fonts */
    --base-font-size: 16px;
    --normal: 400;
    --semi-bold: 600;
    --bold: 700;

    /* other variables */
    --radius: 8px;
    --padding: 2rem 2rem 0 2rem;
  }
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Red Hat Text", sans-serif;
  line-height: 1.5;
  background-color: var(--rose-100);
  font-size: var(--base-font-size);
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  border-radius: var(--radius);
}
a {
  text-decoration: none;
}
